body {
    margin: 0px;
    -webkit-app-region: drag;
    overflow: hidden;
    position: relative;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#mycam {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    border-style: solid;
    border-color:#e5f940;
    box-shadow: 5px 5px 5px #4b4b4b;
    object-fit: cover;
}